<h1>Your photos</h1>

  <tbody>
    <% if current_user.id == @user.id %>
      <% @user.photos.each do |photo| %>
        <tr><td><%= photo.name %><%= image_tag photo.photo.url(:medium) %></td></tr>
        <%= link_to 'Delete', user_photo_path(@user, photo), :data => {:method => "delete"}, :class => "btn btn-danger btn-xs" %>
      <% end %>
    <% end %>
  </tbody>
</table>